@import url('./colors.css');
@import url('./init.css');

body {
  display: flex;
  flex-direction: row;
}

#side, #content {
  height: 100%;
}

#side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 95px;
  border-right: var(--border-layout);
  padding: 20px;
}

#content {
  flex-grow: 100;
}

/* Side (Server List) */

#side > li.server {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color .15s, border-radius .15s;
}

#side > li.server > ion-icon {
  color: var(--gry);
  font-size: 24px;
  transition: color .1s !important;
}

#side > li.server::after {
  justify-self: flex-start;
  content: attr(name);
  left: 0;
  transform: translateX(90px);
}

#side > li.server:nth-of-type(2)::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 0;
  border-bottom: var(--border-layout);
  transform: translateY(-40px);
}

#side > li.server:not(:last-of-type) {
  margin-bottom: 20px;
}

#side > li.server:hover {
  background-color: var(--gry-tnp);
}

#side > li.server.active {
  border-radius: 10px;
  background-color: #007aff0d;
}

#side > li.server.active > ion-icon {
  color: var(--accent);
}

/* Content - Header */

#content > header, main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content > header {
  padding: 30px;
  height: 10%;
  border-bottom: var(--border-layout);
}

#content > header > ion-icon {
  margin-right: 15px;
  color: var(--accent);
}

#content > header > h1 {
  font-size: 21px;
  font-weight: 800;
  margin-right: 20px;
}

#content > header > span {
  font-weight: 300;
  font-size: 18px;
}

#content > header > input[type='button'] {
  margin-left: auto;
  justify-self: flex-end;
}

/* Content - Main (Channel List & Chat) */

#content > main {
  width: 100%;
  height: 90%;
}

main > #channel, main > #chat-ph, main > #chat, main > #participant-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > #channel, main > #chat {
  border-right: var(--border-layout);
}

main > #channel {
  width: 22.5%;
}

main > #channel > * {
  padding: 20px;
}

main > #channel > #channel-header {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-bottom: 0;
}

main > #channel > #channel-header > button {
  margin-left: auto;
}

main > #channel > #channel-header > button > ion-icon {
  color: var(--gry);
}

main > #channel > #channel-header > button::after {
  content: 'Create DM';
  transform: translateY(40px);
}

main > #channel > #channel-list > .channel {
  position: relative;
  height: 70px;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 15px;
  overflow: visible;
  cursor: pointer;
  transition: background-color .15s;
}

main > #channel > #channel-list > .channel.active,
main > #channel > #channel-list > .channel:hover {
  background-color: var(--gry-tnp);
}

/* main > #channel > #channel-list > .channel.unread::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--red);
  top: 25px;
  left: -5px;
} */

main > #channel > #channel-list > .channel > .name {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}

main > #channel > #channel-list > .channel > .preview {
  display: flex;
  color: var(--gry);
  font-size: 13px;
  white-space: nowrap;
}

main > #channel > #channel-list > .channel > .preview > span {
  color: inherit;
  font-size: inherit;
  margin-left: auto;
}

main > #chat-ph {
  width: 57.5%;
  background-color: var(--bg-alt);
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--gry);
  cursor: pointer;
  transition: background 0.15s;
}

main > #chat-ph:hover {
  background-color: var(--bg-alt2);
}

main > #chat {
  width: 62.5%;
  padding: 10px 0 20px 0;
}

main > #chat > #message-list {
  height: calc(100% - 60px);
}

main > #chat > #message-list > .message {
  padding: 10px 20px;
  transition: background-color .15s;
}

main > #chat > #message-list > .message:hover {
  background-color: var(--gry-tnp);
}

main > #chat > #message-list > .message > .info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

main > #chat > #message-list > .message > .info > .username {
  font-size: 15px;
  font-weight: 600;
  margin-right: 7.5px;
}

main > #chat > #message-list > .message > .info > .time {
  font-size: 14px;
  color: var(--gry);
}

main > #chat > #message-list > .message > .content {
  padding-left: 7.5px;
  font-size: 15.75px;
  user-select: text;
  color: var(--text-alt);
}

main > #chat > #chat-input {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  height: 60px;
  background: var(--bg);
  align-items: center;
}

main > #chat > #chat-input > button > ion-icon {
  color: var(--gry);
  transition: color .15s;
}

main > #chat > #chat-input > button:first-of-type > ion-icon {
  font-size: 26px;
}

main > #chat > #chat-input > button:first-of-type:hover > ion-icon {
  color: var(--accent);
}

main > #chat > #chat-input > input[type='text'] {
  flex-grow: 100;
  padding: 12px 15px;
  font-size: 15px;
  background-color: var(--bg-alt);
  border: 1.8px solid var(--gry-tnp-alt);
  border-radius: 10px;
  margin: 0 15px 0 20px;
}

main > #chat > #chat-input > input[type='text']:not(:placeholder-shown) + button[type='submit'] > ion-icon {
  color: var(--accent);
}

main > #participant-list {
  width: 20%;
  padding: 20px;
}

main > #participant-list > b,
main > #participant-list > span {
  margin-bottom: 5px;
}

main > #participant-list > b {
  font-size: 18px;
}

main > #participant-list > span {
  color: var(--gry);
  font-size: 13px;
}

main > #participant-list > li.participant {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
  margin-top: 5px;
  transition: background-color .15s;
}

main > #participant-list > li.participant:hover {
  background-color: var(--gry-tnp);
}

main > #participant-list > li.participant > .username {
  font-weight: 600;
  font-size: 15.5px;
}

main > #participant-list > li.participant > button {
  border-radius: 20px;
  padding: 5px;
  margin-left: auto;
  transition: background-color .15s;
}

main > #participant-list > li.participant > button:hover {
  background-color: #007aff0d;
}

main > #participant-list > li.participant > button > ion-icon {
  color: var(--gry);
}

main > #participant-list > li.participant > button:hover > ion-icon {
  color: var(--accent);
}