@import url('./colors.css');
@import url('./init.css');

body {
  display: flex;
  flex-direction: row;
}

#side, #content {
  height: 100%;
}

#side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6%;
  border-right: 1px solid var(--gry-temp);
  padding: 20px;
}

#content {
  width: 94%;
}

/* side */

#side > li.server {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .15s;
}

#side > li.server > ion-icon {
  color: #9fabb9;
  font-size: 24px;
  transition: color .1s !important;
}

#side > li.server::after {
  content: 'Server Name';
  left: calc(6% - 10px);
}

#side > li.server:first-of-type::after {
  content: 'Direct Messages';
}

#side > li.server:first-of-type::before {
  position: absolute;
  content: '';
  background-color: var(--gry-temp);
  width: 50px;
  height: 1px;
  transform: translateY(40px);
}

#side > li.server:not(:last-of-type) {
  margin-bottom: 20px;
}

#side > li.server:hover, #side > li.server.active {
  background-color: rgb(0, 0, 0, 0.05);
}

#side > li.server.active > ion-icon {
  color: var(--accent);
}

/* content */

#content > header, main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content > header {
  padding: 30px;
  height: 10%;
  border-bottom: 1px solid var(--gry-temp);
}

#content > header > ion-icon {
  margin-right: 15px;
  color: #9fabb9;
}

#content > header > h1 {
  font-size: 21px;
  font-weight: 800;
  margin-right: 20px;
}

#content > header > span {
  font-weight: 300;
  font-size: 18px;
}

#content > header > input[type='button'] {
  margin-left: auto;
  justify-self: flex-end;
}

#content > main {
  width: 100%;
  height: 90%;
}

main > #channel, main > #chat-ph {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > #channel {
  width: 30%;
  border-right: 1px solid var(--gry-temp);
}

main #channel > div {
  padding: 25px;
}

main > #channel > #channel-header {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

main > #channel > #channel-header > button {
  margin-left: auto;
}

main > #channel > #channel-header > button::after {
  content: 'Create DM';
  transform: translateY(40px);
}

main > #chat-ph {
  width: 70%;
  background-color: var(--bg-alt);
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--gry);
  cursor: pointer;
  transition: background 0.15s;
}

main > #chat-ph:hover {
  background-color: var(--bg-alt2);
}