:root {
  /* Colors from: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/ */

  --red: #ff3b30;
  --orn: #ff9500;
  --ylw: #ffcc00;
  --grn: #34c759;
  --mnt: #00c7be;
  --tel: #30b0c7;
  --cyn: #32ade6;
  --blu: #007aff;
  --idg: #5856d6;
  --prp: #af52de;
  --pnk: #ff2d55;
  --bwn: #a2845e;
  --gry: #9fabb9;
  --wht: #ffffff;
  --blk: #000000;
  --blu-tnp: #007aff0d;
  --gry-tnp: #00000008;
  --gry-tnp-alt: #00000014;

  --accent: var(--blu); /* Accent color */

  --bg: #ffffff; /* Default background color */
  --bg-alt: #fafbfc; /* Alternative background color */
  --bg-alt2: #f3f4f5; /* Second alternative background color */
  --bg-std-btn: #ffffff;
  --bg-prompt: #1414144d;
  
  --text: var(--blk);
  
  --border-layout: 1px solid #0000001a;
  
  --bx-shadow-acc: #007aff99 0 0 3px 0; /* Accent color box shadow */
  --bx-shadow-red: #ff3b3099 0 0 3px 0; /* Red box shadow */
}